<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>Z'ubo</title>
</head>
<body>
{% include 'header.html' %}
<div class="container mx-5 my-5 px-5 py-5">
    <div class="row p-3 w-50">
        <div class="col-12 col-md-11 col-xl-12 fs-4 rounded rounded-5 p-3"
             style="background: #DDAA84; text-align: justify">Welcome to our beautiful and colorful
            store. This website will serve as a helper in your daily
            challenges. Browse through our available products, view them, and if you see something you like, just
            put it in your cart, enter the requested information, and wait for it to be delivered to you. It's that
            easy. We hope you enjoy!
            <p>With love,</p>
            <p>Z'ubo</p>
        </div>
    </div>
    <div class="row p-3 w-50 offset-xl-6 offset-md-3 offset-4">
        <div class="col-12 col-md-11 col-xl-12 ms-5 mt-5 fs-4 rounded rounded-5 p-3"
             style="background: #DDAA84; text-align: justify">
            We’re about to start something exciting!

            Welcome to Z'ubo ! We’re glad you have decided to join us.

            We want to make your onboarding experience free of worry. Feel free to send us an email if you have any
            questions at any point in time.
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>